.order {
  background: rgb(232, 249, 250);
  padding: 1em 2em;
  box-sizing: border-box;
}
 /* h6{
    margin:1em;
} */
.menu{
    display:flex;
    justify-content: space-between;
}
.buttons{
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.header,
.item {
  display: flex;
  justify-content: space-around;
}

.name {
  width: 25vw;
  display: flex;
  justify-content: flex-start;
}

.price {
  display: flex;
  justify-content: flex-end;
  width: 10vw;
}

.qty {
  width: 7vw;
  text-align: right;
}

input{
    width:3vw;
}

.discount{
    width:10vw;
    text-align:right;
}
.total{
    width:5vw;
}