.order {
	box-sizing: border-box;
	background: rgb(232, 249, 250);
	padding: 1em 2em;
}
/* h6{
    margin:1em;
} */
.menu {
	display: flex;
	justify-content: space-between;
}
.buttons {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.header,
.item {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.name {
	display: flex;
	justify-content: flex-start;
	width: 25vw;
}
.price {
	display: flex;
	justify-content: flex-end;
	width: 10vw;
}
.qty {
	display: flex;
	/* flex-direction: column; */
  justify-content: center;
  align-items: center;
	width: 7vw;
	text-align: right;
}
input {
	width: 3vw;
}
.two-for-one {
	display: flex;
	justify-content: flex-end;
	width: 5vw;
}
.discount {
	width: 7vw;
	text-align: right;
}
.total {
  width: 5vw;
  text-align:right;
}
